.event-short {
  padding: 16px 0;
  display: flex;
  justify-content: right;
}

.event-short a {
  text-decoration: none;
}

.event-short__top {
  display: flex;
}

.event-short__time {
  margin-left: auto;
  color: #bdbdbd;
}

.event-short__desc {
  margin-top: 8px;
}

.event-short__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-short__text {
  width: 100%;
  flex-direction: column;
}
