.event-short {
  padding: 16px 0;
}

.event-short a {
  text-decoration: none;
}

.event-short__top {
  display: flex;
}

.event-short__time {
  margin-left: auto;
  color: #bdbdbd;
}

.event-short__title {
}

.event-short__desc {
  margin-top: 8px;
}
