body {
  justify-content: center;
  background: linear-gradient(50deg, rgb(10, 70, 235), rgb(10, 241, 234));
}

.reg {
  width: 360px;
  padding: 10px 0 0;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

.form {
  background: linear-gradient(
    45deg,
    rgb(213, 217, 214),
    rgba(16, 160, 217, 0.88)
  );
  border: 1px solid black;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  color: black;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(227, 222, 222, 0.794);
  width: 50%;
  height: 25px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.material-text {
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(5, 5, 5);
}

.info {
  margin-left: 21px;
  margin-top: 5px;
  color: grey;
  font-size: 10px;
  text-align: left;
}

.agreement {
  margin-left: 5px;
}

input {
  position: relative;
  margin-top: 10px;
  width: 80%;
}

.check {
  margin: 0px;
  width: 15px;
  height: 15px;
}
.login {
  position: absolute;
  top: 45px;
  right: 70px;
  color: rgba(0, 0, 0, 0.408);
}

.x {
  position: absolute;
  top: 45px;
  left: 70px;
  color: rgba(0, 0, 0, 0.408);
}

.show-pass {
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 150px;
  width: 15px;
}
