.shop-short {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.shop-short a {
  text-decoration: none;
}

.shop-short__top {
  justify-content: space-between;
}

.shop-short__time {
  margin-left: auto;
  color: #bdbdbd;
}
