* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

#root {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;
}

.page__center-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1280px;
}

.form__header {
  background: transparent;
  justify-content: center;
  text-align: center;
  font: bold;
}

.page__form {
  padding: 48px;
  border: 2px solid teal;
}

.form__inputs {
  margin: 36px 0;
}

.page__agreement {
  background: transparent;
}

.page__btn {
  padding: 16px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 8px 36px;
  background: lightgray;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.input__style {
  width: 100%;
  margin-bottom: 48px;
  display: block;
}

.check {
}

.text-sm {
  font-size: 14px;
}
